.sign-in-background
  place-items: center
  display: grid
  height: 100%
  width: 100%
  background-image: url("../../../assets/icons/logo.svg")
  background-repeat: no-repeat
  background-size: 800px
  background-position: center
  background-blend-mode: color

.button
  margin: 0 auto
  width: 100px

.sign-in-container
  width: 100%
  display: grid
  place-content: center

