# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea/workspace.xml
matraum-app/certificates/localhost.key
matraum-app/certificates/localhost.crt
matraum-app/certificates/certificate.cnf
