.dialog
  width: calc(100vw - 40px)
  height: 300px
  padding: 10px

  h3
    font-weight: bold

  h4
    font-weight: bold
    margin-top: 20px

  .save-button, .back-action
    background-color: #b1d62cad
    border: 2px solid #99BF0F
    height: 30px
    display: block
    text-align: center
    margin-top: 20px
    padding: 5px
    line-height: 30px

  input
    width: calc(100% - 10px)
    line-height: 30px

  .back-action
    background-color: #d90404cc
    border: 2px solid #ca0505cc
    color: white
