<div class="frame">
  <video id="live" autoplay playsinline></video>
  <canvas id="canvas"></canvas>
  <canvas id="canvasTransp"></canvas>
</div>

<div class="log">
  <span> {{logs}} </span>
</div>

<div id="overlay" *ngIf="showOverview">

  <h1> {{name}} </h1>
  <h3> {{description}} </h3>

  <span class="count"> {{counter}} </span>

  <div class="amount-actions">
    <p (click)="decrement()">-</p>
    <p (click)="increment()">+</p>
  </div>

  <div class="action">
    <span (click)="add()">Hinzufügen</span>
  </div>

</div>


<div class="close-scanner" *ngIf="!showOverview">
  <span routerLink="../..">Abbrechen</span>
</div>

