<div class="frame">

  <video id="live" autoplay playsinline></video>
  <canvas id="canvas"></canvas>
  <canvas id="canvasTransp"></canvas>

</div>

<div id="info-frame" [ngClass]="{'hide': !showOverview}">

  <mat-icon  id="close-qr-info" (click)="restartSearch()">close</mat-icon>

  <h1> {{name}} </h1>
  <h3> {{description}} </h3>

  <span class="count"> {{counter}} </span>

  <div class="amount-actions">
    <p (click)="decrement()">-</p>
    <p (click)="increment()" [ngClass]="{'deactivated' : counter === maxCounter}">+</p>
  </div>

  <div class="action">
    <span (click)="add()">Buchen</span>
  </div>

</div>





