<div class="page-container">


    <h1>Material: {{stufenName}}</h1>

    <table class="material-list">

        <tr>
            <th class="amount">#</th>
            <th>Material</th>

        </tr>

        <tr *ngFor="let mat of materials; let i = index" (click)="openDetails(mat)">
            <td class="amount">{{mat.amount}}</td>
            <td>{{mat.name}} </td>
        </tr>


    </table>

    <div class="actions">

        <span id="scan-action" (click)="openScanner()">Scannen</span>
        <span id="back-action" routerLink="/overview-page">Zurück zur Übersicht</span>

    </div>

</div>
