.page-container
  display: grid
  height: 100%
  grid-template-rows: 100px auto 175px

h1
  width: 100%
  text-align: center
  line-height: 100px
  margin: 0

.material-list
  overflow-y: scroll
  width: 80%
  margin: 0 auto

  td, tr
    text-align: center
    background-color: #e8ebef
    margin: 2.5px
    height: 25px
    line-height: 25px

  td:last-child, th:last-child
    text-align: left
    padding-left: 5px

.actions
  display: grid
  width: 80%
  margin: 0 auto
  display: grid
  grid-template: "back scann" "zurück zurück"
  grid-template-columns: 50% 50%
  height: 130px

  span
    text-align: center
    padding: 20px
    color: #000000
    border-radius: 5px
    font-weight: 700
    margin: 5px

  #back-action
    background-color: #c5c5c2
    border: 2px solid #aeb4bd
    padding: 10px 20px
    grid-area: zurück

  #take-back-action
    background-color: #D90404
    border: 2px solid #b30505
    grid-area: back

  #scan-action
    background-color: #c1d96a
    border: 2px solid #a9c349
    grid-area: scann



