<div class="page-container">


  <h1>Material: {{stufenName}}</h1>


  <table class="material-list">

    <tr>
      <th class="amount">#</th>
      <th>Material</th>

    </tr>

    <tr *ngFor="let mat of materials; let i = index" (click)="openDetails(mat)">
      <td class="amount">{{mat.amount}}</td>
      <td>{{mat.name}} </td>
    </tr>


  </table>

  <app-button-list>
    <app-button (click)="showOrder()">Bestellung anzeigen</app-button>
    <app-button routerLink="settings" color="blue">Einstellungen</app-button>
    <app-button (click)="openScanner()">Scannen</app-button>
    <app-button color="red" routerLink="/overview-page">Zurück</app-button>
  </app-button-list>
</div>
