<h2 *ngIf="criterion | async as criterion">{{criterion.name}}</h2>

<ng-form [formGroup]="formControl">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name des Kriterium</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Beschreibung zum Kriterium</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

</ng-form>

<app-button-list>
  <app-button routerLink=".." (click)="save()">Speichern</app-button>
  <br>
  <app-button routerLink=".." (click)="delete()" color="red">Löschen</app-button>
  <app-button routerLink=".." color="red">Zurück</app-button>
</app-button-list>
