.page-container
  display: grid
  place-items: center
  height: calc(100% - 30px)

.stufen-overview, .camp-overview
  display: grid
  width: 100%

  span
    text-align: center
    padding: 20px
    background-color: #c1d96a
    width: 80%
    color: #000000
    border-radius: 5px
    font-weight: 700
    margin: 5px auto
    border: 2px solid #a9c349
    color: red

.sign-out-button
  text-align: center
  padding: 20px
  background-color: #D90404
  border: 2px solid #b30505
  width: 80%
  color: white
  border-radius: 5px
  font-weight: 700
  margin: 5px auto


